@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;0,500;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a9def9;
    font-family: "Anybody", cursive;
}

html::-webkit-scrollbar {
    width: 20px;
    background-color: #f6bd60;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f4f5f7;
}

html {
    scrollbar-width: 20px;
    scrollbar-color: rgb(0, 255, 136) #ccc;
}

/* STANDARD CSS */
.label {
    font-size: 1.5rem;
    color: #5e548e;
}

.button {
    background: #e36414;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.3rem;
    font-weight: 500;
    color: #f8edeb;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: #3a0ca3;
    transition: 0.8s;
    scale: 1.1;
}

.input {
    border: none;
    border-radius: 0.3rem;
    font-size: 3rem;
    padding: 0.5rem;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.image:hover {
    border: 1px solid #fcf6bd;
    transition: 0.8s;
    scale: 1.1;
}

.navImage {
    width: 100px;
    height: 100px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.navImage:hover {
    border: 1px solid #fcf6bd;
    transition: 0.8s;
    scale: 1.1;
}

/* PAGE WELCOME  */

.homeTitle {
    color: #3a86ff;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.homeTitle:hover {
    color: #560bad;
    transition: 0.8s;
    scale: 1.1;
}

.homeSubTittle {
    color: #e36414;
}

.homeSubTittle:hover {
    color: #560bad;
    transition: 0.8s;
    scale: 1.1;
}

.icon {
    color: #3a0ca3;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon:hover {
    color: #7209b7;
}

/* PAGE LOGIN */
.loginHome {
    display: flex;
    justify-content: center;
    height: 75vh;
    margin: 2rem;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.loginTitle {
    color: #e36414;
    font-size: 2rem;
}

.loginForm {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
}

.loginButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    gap: 0.5rem;
}

/* HEADER */

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.15rem;
    left: 0;
    top: 2rem;
    background-color: #e9c46a;
}

.navHeader {
    padding: 0.5rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #003566;
}

.nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.nav__list {
    display: flex;
    padding-top: 0;
}

.navList {
    display: flex;
    gap: 1rem;
    padding-top: 0;
    align-items: center;
    margin-left: 0.5rem;
    list-style: none;
    color: #f6bd60;
    cursor: pointer;
}

.navList li a {
    text-decoration: none;
    color: #f6bd60;
    transition: 0.6s;
    scale: 1.2;
}

.navList li a:hover {
    text-decoration: none;
    color: #f6bd60;
    transition: 0.6s;
    scale: 1.2;
}

.navList li:hover {
    color: #fcf6bd;
    transition: 0.6s;
    scale: 1.2;
}

.navFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navTitle {
    font-size: 1rem;
    color: #e36414;
}

/* UPLOAD IMAGE */
.modal {
    background-color: rgba(255, 255, 255, 0.39);
    height: 45rem;
    width: 100%;
}

.modal-content {
    display: flex;
    background-color: #333;
    height: 40rem;
    width: 90rem;
    margin: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.modalButton {
    color: #e36414;
    font-weight: 900;
    font-size: 2rem;
    background: none;
    border: none;
    position: absolute;
    right: 2.5rem;
    cursor: pointer;
}

.modalButton:hover {
    color: #fcf6bd;
    scale: 1.5;
    transition: 0.5s;
}

/* PROFILE */

.bio-editor {
    /* background-color: greenyellow; */
    padding: 1rem;
    margin: 1rem;
}

.bio-editor form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    align-items: flex-start;
    align-content: center;
}

.bio-editor form > * {
    margin-bottom: 1rem;
}

.bio-editor form button {
    height: 2rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
}

.bio-editor form button:hover {
    background-color: deepskyblue;
}

.profile {
    padding: 1rem;
    margin: 1rem;
    background-color: #003566;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.profileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.profileSub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    gap: 0.5rem;
}

.imageProfile {
    border: 2px red solid;
}

.profileTitle {
    cursor: pointer;
    color: #e36414;
}

.profileTitle:hover {
    color: #fcf6bd;
    transition: 0.8s;
    scale: 0.9;
}

.profileBio {
    color: #f8edeb;
}

.profileBio:hover {
    color: #e9c46a;
    transition: 0.7s;
}

.profileImage {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

.profileImage:hover {
    border: 1px solid #e36414;
    transition: 0.8s;
    scale: 1.1;
}

/* BIO EDITOR */

.bioEditorText {
    width: 40rem;
    height: 20rem;
    padding: 2rem;
    font-size: 1rem;
}

/* FIND USERS */
.find-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.find-img {
    width: 190px;
    height: 190px;
    border-radius: 20%;
}

.find-paragraphy {
    list-style: none;
    text-decoration: none;
    color: #560bad;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-paragraphy:hover {
    color: #e36414;
    scale: 1.1;
    transition: 1s;
}

.find-para {
    list-style: none;
    text-decoration: none;
    gap: 1rem;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.find-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0.5rem;
    gap: 3.5rem;
    justify-items: center;
    align-items: center;
    align-content: center;
}

/* OTHER USER */
.user-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
}

.user-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-img {
    margin: 0.2rem;
    width: 300px;
    height: 300px;
}

.user-para {
    font-size: 2rem;
}

/* FRIENDS */
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.userContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 2rem;
}

.friendTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CHAT */
.chatMessages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.chatUl {
    list-style: none;
    display: flex;
    /* background: orange; */
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 1rem;
}

.chatLi {
    background: #fff;
    border: 2px #333 solid;
    padding: 0.5rem;
    width: 50rem;
    height: 20rem;
    overflow-y: auto;
}

#elemento::-webkit-scrollbar {
    width: 10px;
    background-color: #f6bd60;
}

#elemento::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #003566;
}

#elemento {
    scrollbar-width: 20px;
    scrollbar-color: rgb(0, 255, 136) #ccc;
}

.chatTittle {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.chatForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chatInput {
    width: 40rem;
    height: 20rem;
    overflow-y: auto;
    font-size: 1rem;
    color: #6a040f;
    overflow-y: auto;
    cursor: pointer;
    padding: 1rem;
}

@media screen and (max-width: 321px) {
    .menu .nav__list {
        position: fixed;
        top: 5rem;
        left: -10px;
        bottom: 0;
        background-color: #003566;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        transform: translateX(-100%);
        padding: 1rem;
        list-style: none;
        height: 20rem;
    }

    .menu.visible .nav__list {
        transform: translateX(0);
    }

    .icon {
        display: none;
    }

    .homeTitle {
        font-size: 2rem;
    }

    .input {
        font-size: 0.7rem;
    }

    .bio-editor form {
        display: flex;
        flex-direction: column;
        width: 18rem;
        align-content: center;
        align-items: center;
    }

    .bioEditorText {
        width: 18rem;
        padding: 1rem;
    }

    .image {
        width: 40px;
        height: 40px;
    }

    .nav {
        font-weight: 200;
        justify-content: space-around;
    }

    .navList {
        gap: 0.5rem;
    }

    .find-grid {
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .find-img {
        width: 100px;
        height: 100px;
        border-radius: 20%;
    }

    .find-paragraphy {
        font-size: 1.2rem;
    }

    .user-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        gap: 1rem;
        align-items: center;
    }

    .user-img {
        margin: 0.2rem;
        width: 300px;
        height: 300px;
        border-radius: 2rem;
    }

    .nav {
        height: 5rem;
    }

    .profileImage {
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
    }

    .profileTitle {
        font-size: 1.2rem;
    }

    .profileBio {
        font-size: 0.8rem;
    }

    .chatInput {
        width: 17rem;
    }

    .chatLi {
        width: 17rem;
    }

    .modal-content {
        display: flex;
        background-color: #333;
        height: 30rem;
        width: 17rem;
        margin: auto;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .navImage {
        width: 50px;
        height: 50px;
        border-radius: 0.3rem;
        cursor: pointer;
    }
}

@media screen and (min-width: 322px) and (max-width: 576px) {
    .menu .nav__list {
        position: fixed;
        top: 6rem;
        border: 1px solid white;
        left: -10px;
        bottom: 0;
        background-color: #003566;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        transform: translateX(-100%);
        padding: 1rem;
        list-style: none;
        height: 20rem;
    }

    .menu.visible .nav__list {
        transform: translateX(0);
    }

    .navImage {
        width: 70px;
        height: 70px;
        border-radius: 0.3rem;
        cursor: pointer;
    }

    .profileImage {
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
    }

    .nav {
        height: 5rem;
    }

    .profile {
        width: 20rem;
    }

    .navHeader {
        width: 100%;
    }

    .bioEditorText {
        width: 17rem;
    }

    .bio-editor form {
        width: 20rem;
    }

    .homeTitle {
        font-size: 2rem;
    }

    .input {
        font-size: 1rem;
    }

    .find-img {
        width: 100px;
        height: 100px;
    }

    .find-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chatInput {
        width: 22rem;
    }

    .chatLi {
        width: 22rem;
    }

    .modal-content {
        width: 25rem;
        height: 30rem;
    }

    .user-container {
        flex-direction: column;
        align-items: center;
    }

    .user-img {
        width: 300px;
    }
}

@media screen and (min-width: 577px) and (max-width: 1050px) {
    .menu .nav__list {
        position: fixed;
        top: 6rem;
        border: 1px solid white;
        left: -10px;
        bottom: 0;
        background-color: #003566;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        transform: translateX(-100%);
        padding: 1rem;
        list-style: none;
        height: 20rem;
    }

    .menu.visible .nav__list {
        transform: translateX(0);
    }

    .modal-content {
        width: 28rem;
    }

    .input {
        font-size: 1rem;
    }

    .bioEditorText {
        width: 29rem;
    }

    .find-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .find-img {
        width: 120px;
        height: 120px;
    }

    .chatInput {
        width: 25rem;
    }

    .chatLi {
        width: 25rem;
    }
}

@media screen and (min-width: 1051px) {
    .buttonHeader {
        display: none;
    }
}
